.form {
  margin-right: 16px;
  @media (max-width: 1200px) {
    margin: 0;
  }
}

.form--loading {
  opacity: 0.5;
  pointer-events: none;
}

.form__label {
  display: block;
  padding: 2px;
}

.form__error {
  margin-bottom: 0.75em;
  padding: 0px;
}

.form__input,
.form__textarea,
.form__button {
  resize: vertical;
  display: block;
  width: 100%;
  background: #fafafa;
  padding: 0.3em 0.5em;
  border: 2px solid #424242;
  border-radius: 8px;
  line-height: 1.45;
  margin-bottom: 0.75em;
  &:focus {
    outline: 2px solid #424242;
    outline-offset: 2px;
  }
}

.form__button {
  cursor: pointer;
  margin-top: 1em;
}
