body {
  background: #ffccbc;
}

p {
  margin: 0;
  margin-bottom: 1em;
}

.container {
  max-width: 1200px;
  padding: 32px;
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 64px;
  @media (max-width: 828px) {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  @media (max-width: 414px) {
    padding: 8px;
    gap: 16px;
  }
}

.main {
  padding-top: 80px;
  font: 23px/1.45 var(--font-inter);
  color: #212121;
  @media (max-width: 828px) {
    padding: 0;
  }
  @media (max-width: 414px) {
    font-size: 19px;
    padding: 0px 16px;
  }
}

.main a {
  color: #283593;
  &:hover {
    color: #3f51b5;
    text-decoration: none;
  }
}

.nav {
  text-align: right;
  margin: 32px;
  margin-bottom: 0;
  @media (max-width: 828px) {
    text-align: left;
    margin: 0;
    margin-top: 32px;
  }
  @media (max-width: 414px) {
    margin: 16px;
    margin-bottom: 0;
  }
}

.nav__link {
  display: block;
  text-decoration: none;
  padding: 2px 32px;
  padding-left: 0;
  font: 60px var(--font-tilt-warp);
  color: #283593;
  &:hover {
    font-variation-settings:
      "XROT" var(--xrot),
      "YROT" var(--yrot);
    @media (prefers-reduced-motion: reduce), (pointer: coarse) {
      font-variation-settings:
        "XROT" 0,
        "YROT" 0;
    }
  }
  @media (max-width: 414px) {
    font-size: 40px;
    padding: 0;
  }
}

.nav__link--current {
  color: #1976d2;
  cursor: default;
  position: relative;
  transform: translate(8px);
  @media (max-width: 828px) {
    transform: translate(0);
  }
}

.heading {
  margin: 0;
}

.heading__svg {
  display: block;
}

.heading__text {
  font: 135px var(--font-tilt-warp);
  fill: #00897b;
  animation: spin 7s linear infinite;
  transform-origin: center;
  cursor: default;
  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.heading:hover .heading__text {
  @media (pointer: fine) {
    animation-play-state: paused;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0); /* Legacy property for Internet Explorer */
  clip-path: inset(50%);
  white-space: nowrap;
}
